/ ----------header-start----------
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        %img{:alt => "", :height => "20px", :src => "img/star-icon.png", :width => "20px"} Brand
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "meetings-index.html"}
            Home
            %span.sr-only (current)
        %li
          %a{:href => ""}
        %li.dropdown
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "座談会を探そう！！", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Search
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to new_board_path do
            座談会を企画する
            %span.caret
        %li
          = link_to login_login_path do
            ログイン
            %span.caret
    / /.navbar-collapse
  / /.container-fluid
/ ----------header-end----------
.top-head.table
  .table-cell
    .top-panel
      .panel-content
        %h1 より良い未来を作りましょう！
        %br
      .common
        .raw
          .col-xs-5
          .col-xs-2
            = link_to new_board_path, class: "button2 btn-default" do
              座談会を作る
          .col-xs-5
/ ---------- second-bar ----------------
.second-bar
  .container
    .second-bar-content
      %ul.inner.clearfix
        %a.white.reverse.button{:href => "#"}
          %li
            %i.fa.fa-arrow-circle-right
            新着順
        %a.white.reverse.button{:href => "#"}
          %li
            %i.fa.fa-arrow-circle-right
            人気順
        %a.white.reverse.button{:href => "#"}
          %li
            %i.fa.fa-arrow-circle-right
            締め切りが近い順
        %a.white.reverse.button{:href => "#"}
          %li
            %i.fa.fa-arrow-circle-right
            カテゴリから探す
/ ----------header-end----------
/ ---------- 座談会一覧 ----------------
.index
  %h2 座談会一覧
  .container
    .index-boxies
      .index-box
        .row
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
        .row
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
        .row
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
  .btn-line
    %button.btn.btn-warning.button3{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
      もっと見る
  #collapseExample.collapse
    .well
      .container
        .index-boxies
          .index-box
            .row
              .index-content.col-xs-4.sm-4.lg-6
                .index-content-img
                  %a{:href => "detail.html"}
                    %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                      .index-content-states
                        %span
                          募集中
                      .index-content-date
                        %i.fa.fa-calendar.margin10-right.box-inline-middle
                        %span.box-inline-middle
                          2015.03.18 19:00-20:00
                  .index-content-summry
                    %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                    .count
                      %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                        .box-inline-middle.number 14
              .index-content.col-xs-4.sm-4.lg-6
                .index-content-img
                  %a{:href => "detail.html"}
                    %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                      .index-content-states
                        %span
                          募集中
                      .index-content-date
                        %i.fa.fa-calendar.margin10-right.box-inline-middle
                        %span.box-inline-middle
                          2015.03.18 19:00-20:00
                  .index-content-summry
                    %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                    .count
                      %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                        .box-inline-middle.number 14
              .index-content.col-xs-4.sm-4.lg-6
                .index-content-img
                  %a{:href => "detail.html"}
                    %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                      .index-content-states
                        %span
                          募集中
                      .index-content-date
                        %i.fa.fa-calendar.margin10-right.box-inline-middle
                        %span.box-inline-middle
                          2015.03.18 19:00-20:00
                  .index-content-summry
                    %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                    .count
                      %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                        .box-inline-middle.number 14