%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        %img{:alt => "", :height => "20px", :src => "img/star-icon.png", :width => "20px"} Brand
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "meetings-index.html"}
            Home
            %span.sr-only (current)
        %li
          %a{:href => ""}
            %p
        %li.dropdown
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "座談会を探そう！！", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Search
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"}
            Login
            %span.caret
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li
              %a{:href => "#"} Separated link
    / /.navbar-collapse
  / /.container-fluid
/ ----------header-end----------
.detail-content-img
  %img{:alt => "", :height => "300px", :src => "/assets/img1.jpg", :width => "100%"}
  .detail-content-states
    %span
      募集中
/ -------profile-summry----------
.content-about
  .profile
    .profile-pic.float-left
      %img.img-circle.img-responsive.inline-block.middle{:alt => "", :src => "/assets/fujinuma2.jpg"}
      .profile-name.inline-block.middle
        Fujinuma Junya
    .profile-favorite.float-right.table
      .user-icon.table-cell.middle
        %img.inline-block.middle{:alt => "", :src => "/assets/userimage.png"}
        .user-num.inline-block.middle
          20
    .clear
  .profile-under
    .profile-text
      .date-place
        %strong [日時] 
        4月23日　16:00-17:30　
        %strong [場所]　
        東京大学食堂
      .explanation
        %strong [内容]　
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  .join-btn-line
    .join-btn
      %button.btn.btn-primary{:style => "margin-top: 10px;", :type => "button"} 参加したい
/ ----------切り替わるやつ----------
#myTab{:role => "tabpanel"}
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"} ホーム
    %li{:role => "presentation"}
      %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} 参加者のプロフィール
    %li{:role => "presentation"}
      %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"} 掲示板
  .tab-content
    #home.tab-pane.active{:role => "tabpanel"}
      %p
        日時
      %hr{:style => "border-top: 2px dotted black;width: 90%;"}
        %p
          場所
        %hr{:style => "border-top: 2px dotted black;width: 90%;"}
          %p
            座談会内容
          %hr{:style => "border-top: 2px dotted black;width: 90%;"}
    #profile.tab-pane{:role => "tabpanel"}
      .participant
        .participant-owner
          .participant-owner-box
            %p 企画者
            %img.img-circle{:alt => "", :src => "/assets/fujinuma2.jpg"}
            .participant-owner-content
              .participant-owner-name
                Fujinuma Junya
              .participant-owner-profile
                【参加インターン】じげん、ビズリーチ、DeNA、第一生命
      %hr{:style => "border-top: 2px dotted black;width: 90%;"}
      .participant
        .participant-owner
          .participant-owner-box
            %p 参加者
            %img.img-circle{:alt => "", :src => "/assets/fujinuma2.jpg"}
            .participant-owner-content
              .participant-owner-name
                Fujinuma Junya
              .participant-owner-profile
                【参加インターン】じげん、ビズリーチ、DeNA、第一生命
      .participant
        .participant-owner
          .participant-owner-box
            %p 参加者
            %img.img-circle{:alt => "", :src => "/assets/fujinuma2.jpg"}
            .participant-owner-content
              .participant-owner-name
                Fujinuma Junya
              .participant-owner-profile
                【参加インターン】じげん、ビズリーチ、DeNA、第一生命
    #messages.tab-pane{:role => "tabpanel"}
      こんばんは
    /
:javascript
    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
  })
/ ----------レコメンド----------
.index
  %h2 座談会一覧
  .container
    .index-boxies
      .index-box
        .row
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                .index-content-states
                  %span
                    募集中
                .index-content-date
                  %i.fa.fa-calendar.margin10-right.box-inline-middle
                  %span.box-inline-middle
                    2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14
          .index-content.col-xs-4.sm-4.lg-6
            .index-content-img
              %a{:href => "detail.html"}
                %img.img-resoponsive{:alt => "", :src => "/assets/img1.jpg"}
                  .index-content-states
                    %span
                      募集中
                  .index-content-date
                    %i.fa.fa-calendar.margin10-right.box-inline-middle
                    %span.box-inline-middle
                      2015.03.18 19:00-20:00
              .index-content-summry
                %p 説明文が入る説明文が入る説明文が入る説明文る説明文が入る
                .count
                  %img.box-inline-middle{:alt => "", :src => "/assets/userimage.png"}
                    .box-inline-middle.number 14